<section>

    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>

    <div class="box">
        <div.square style="--i:0;"></div.square>
        <div.square style="--i:1;"></div.square>
        <div.square style="--i:2;"></div.square>
        <div.square style="--i:3;"></div.square>
        <div.square style="--i:4;"></div.square>
        <div class="container">
            
            <div id="form">
                <h2>Cadastro de filmes</h2>
                <form action="/list" method="post">
                <!--    <button type="submit" >Veja lista de comentários</button> -->
                    <div class ="inputBox">
                        <input type="text" placeholder="Nome" id="nome" class="teste" name="nome" class="form-control"/>
                    </div>

                        <div class="inputBox">
                            <input type="text" placeholder="Email" id="email" class="teste" name="email" class="form-control"/>
                        </div>

                        <div class="inputBox">
                            <input type="text" placeholder="Filme" id="filme" class="teste" name="filme" class="form-control"/>
                        </div>

                        <div class="inputBox">
                            <input type="text" placeholder="Comentário" id="comentario" class="teste" name="comentario" class="form-control"/>
                        </div>
                        
                    </div>
                <br>
                </form>

                <div id="button-area">
                 <button  class="teste teste1" type="submit" type="button" id="salvar" onclick="salvar()">Salvar</button>
                </div>
                <br />

            </div>           

    </div>
       
</section>
   