<section>

    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>

    <div class="box">
        <div class="container">
            <h2>Cadastro de filmes</h2>
            <div id="form">
                <form action="/list" method="post">
                <!--    <button type="submit" >Veja lista de comentários</button> -->
                    <div id ="inputBox">
                        <input type="text" placeholder="Nome" id="nome" name="nome" class="form-control"/>
                    </div>

                        <div class="inputBox">
                            <input type="text" placeholder="Email" id="email" name="email" class="form-control"/>
                        </div>

                        <div class="inputBox">
                            <input type="text" placeholder="Filme" id="filme" name="filme" class="form-control"/>
                        </div>

                        <div class="inputBox">
                            <input type="text" placeholder="Comentário" id="comentario" name="comentario" class="form-control"/>
                        </div>
                        
                    </div>
                <br>
                </form>

                <div id="button-area">
                 <button  class="btn btn-info" type="submit" type="button" id="salvar" onclick="salvar()">Salvar</button>
                </div>

            </div>           

    </div>
       
</section>
   