{{#each pessoas}}
    <div id="list" class="list">
        <p>Nome: {{nome}}</p>
        <p>Email: {{email}}</p>
        <p>Filme: {{filme}}</p>
        <p>Comentário: {{comentario}}</p>
   </div>
{{/each}}